<script>
    // GET /zen
    (function() {
        document.addEventListener("DOMContentLoaded", function(event) {
            req = new XMLHttpRequest();

            req.onreadystatechange = function process() {
                if (req.readyState === XMLHttpRequest.DONE && req.status === 200) {
                    document.getElementById("content").innerText = req.responseText;
                }
            };

            req.open("GET", "https://api.wintron.io/zen", true);
            req.send();
        });
    })();
</script>
